<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Delta6259"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/guillaume-trupin-50632225/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    By Guillaume Trupin
  </div>
</div>
